extends layout

block content
    h1= title

    ul
    each bookData in data
        li
            a(href=bookData.book.url) #{bookData.book.title}
            |   (#{bookData.author.name})
    else
        li There are no books. 